@import url('https://fonts.googleapis.com/css?family=Raleway');
html,h1,h2,h3,h4,h5,h6,a
{
    font-family: "Raleway";
}

body{
    background-color: white;
}

.myheader::before {    
    content: "";
    background-image: url("images/headerback.jpg");
    background-size: cover;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.4;
}
.header1{
    position: absolute;
    left: 400px;
    top: 300px;
    text-align: center;
    color:darkorange;
}
p{
    text-align: center;
    position: absolute;
    left: 400px;
    top: 400px;
}
.sections{
    position: absolute;
    left: 400px;
    top: 950px;
    align-items: center;
}


h1{
    color: darkorange;
    text-align: center;
}
.aboutme{
    display: flex;
    flex-direction: row;
    width: 700px;
    padding: 50px;
}
.Portfolio{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(1,1fr);
    grid-gap: 20px;
    padding: 50px;
}
.resize{
width: 200px;
height: 200px;
}
.getintouch{
    margin-top: 50px;
    border-top: solid black 1px;
    padding-top: 10px;
    display: flex;
}
.getintouchtext{
    margin-top: 50px;
}
.icon{
    width: 40px;
    height: 40px;
    margin-top: 120px;
    position: absolute
}