<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>person by phone name</title>
    <style>
        table, th, td {
  border:1px solid black;
}
    </style>
</head>
<body>
<table>
  <tr>
    <th>id</th>
    <th>name</th>
    <th>email</th>
    <th>address</th>
    <th>phone numbers</th>
    <th>nationalities</th>
  </tr>
  <tr>
    <td>{{ person.id }}</td>
    <td>{{ person.name }}</td>
    <td>{{ person.email }}</td>
    <td>{{ person.address }}</td>
    <td>{% for phonenumber in person_phone_numbers %}
        {{ phonenumber.number }},
        {% endfor %}
    </td>
    <td>{% for nationality in person.nationalities %}
        {{ nationality.name }},
        {% endfor %}
    </td>
  </tr>
</table>
</body>
</html>