{% extends 'base.html' %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">

{% for message in get_flashed_messages() %}
<div class="alert alert-primary" role="alert">
{{ message }}
</div>
{% endfor %}
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Cryptocurrency</th>
      <th scope="col">Price</th>
      <th scope="col">24h % </th>
      <th scope="col">7d % </th>
      <th scope="col">Circulating Supply</th>
      <th scope="col">Volume</th>
      <th scope="col">Market Cap</th>
      <th scope="col">24h Performance</th>
    </tr>
  </thead>
  <tbody>
  {% for crypto in cryptos['data'] %}
    <tr>
      <th scope="row">{{crypto['cmc_rank']}}</th>
      <td> {{ crypto['name'] }}</td>
      <td>{{ "${:,.2f}".format(crypto['quote']['USD']['price']) }}</td>
      <td>{{ crypto['quote']['USD']['percent_change_24h']|round(2) }}%</td>
      <td>{{ crypto['quote']['USD']['percent_change_7d'] }}%</td>
      <td>{{ "{:,.0f}".format(crypto['circulating_supply']) }}</td>
      <td>${{ "{:,.0f}".format(crypto['quote']['USD']['volume_24h']) }}</td>
      <td>${{ "{:,.0f}".format(crypto['quote']['USD']['market_cap']) }}</td>
      <td>${{ crypto['quote']['USD']['percent_change_7d'] }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
